append vars

html.classList.push('page-index')


	block body-start
		.header
			.container
				.header__logo
					a.link(href="#")
						h1 undercover
						span.logo-span design team

				.header__lamp-text
					img( class='header__lamp-logo' src="images/Color-Balance-14.png", alt="browser")
					<br>
					<br>	
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<br>
					<br>
					<br>

					<br>
					<br>
					<br>
					<br>
					<br>
					<br><br>
					<br>
					<br>	
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<br>
					<br>
					<br>

					<br>
					<br>
					<br>
					<br>
					<br>
					<br><br>

				.header__scroll-down