append vars

html.classList.push('page-index')


	block body-start
		.header
			.container
				.header__logo
					a.link(href="#")
						h1 undercover
						span.logo-span design team

				.header__lamp-text
					.header__lamp-text__img
						img( class='header__lamp-logo' src="images/Color-Balance-13.png", alt="browser")
					.header__lamp-text__head
						h1 
							span.brow our design’s 
							span.so so 
							span.wan wanted 
							span.t that    
							span.brow we have to hide

				.header__scroll-down

					br
					br

					br
					br




					br

					br

					br


					br


					br


					br

					br

					br
