extends pug/base

prepend vars
	
append vars
	- title = 'Лампочка';


block body-start
	include header

block content
	.services
		.container
			h1 services
			.services__content
				.services__list
					ul.nav.navbar-nav
						li.dropdown
							a(href="#" class="menu-item" data-toggle="dropdown") web design
							.webdis
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/web-design.png", alt="browser")
							
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") logo design
							.webdis
								p Logo is the first thing customer or user will see in your <br> product. And his or her first impression will depend on <br> it. We can create logo that will satisfy you and your<br> clients. <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/logo-design.png", alt="browser")
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") branding
							.webdis
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/web-design.png", alt="browser")
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") ui
							.webdis
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/ui-design.png", alt="browser")
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") photography
							.webdis.photography-block
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/photography-design.png", alt="browser")
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") graphic design
							.webdis
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a class='portf' href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/web-design.png", alt="browser")


				.services__pic
					
