extends pug/base

prepend vars
	
append vars
	- title = 'Лампочка';


block body-start
	include header

block content
	.services
		.container
			h1 services
			.services__content
				.services__list
					ul.nav.navbar-nav
						li.dropdown
							a(href="#" class="menu-item" data-toggle="dropdown") web design
							.webdis
								p Web design is our passion. Our team likes to create <br> unique web pages for our clients. Understanding users <br> is key point to good interaction with him through web <br> design.  <a href='#'> See more </a>or <span>  portfolio

								img( class='' src="images/web-design-illustration.png", alt="browser")
							
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") logo design
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") branding
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") ui
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") photography
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") graphic design


				.services__pic
					
