// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";


body{
	font-family: $font-family-main;
	background: #303030;
}

h1 
{
    margin: 0px;
    padding: 0px;
    font-size: 60px;
}
a{
	text-decoration: none;
}

.header{
		padding-top: 80px;
		&__holder{
			display: flex;
		    flex-direction: column;
		    align-items: center;
		}


	&__logo{
			display: flex;
			flex-direction: row;
			justify-content: center;
			    margin-bottom: 30px;

	.link{
		position: relative;
	}

	h1{
		color: #b69b67;
		text-align: center;
		border-top: 1px solid #b69b67;
		text-transform: uppercase;
		font-family: $font-family-Playfair;

	
	}

	.logo-span{
		float: right;
		color: #b4b4b4;
		font-size: 30px;
		text-transform: uppercase;
		font-family: $font-family-main;
		position: absolute;
		right: -91px;
		z-index: 1;
	}
	
}
	&__lamp-logo{
		display: inline-block;
		width: 100%;
		}
	&__menu{
		position: absolute;
		right: 0;
		top: 70px;

		span{
			width: 82px;
    		height: 82px;
		    display: block;
		    cursor: pointer;
		    &::before{
		    	@include sprite("menu-icon");

		    	content: "";
		    }
		    &:hover {
			      &::before{
		    		@include sprite("list3");

		    	content: "";
		    }
			  }
		}
	}

	&__lamp-text{
		position: relative;
		&__head{
			h1{
				color: #b69b67;
				font-family: $font-family-main;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 2px;
				background: linear-gradient(to right, #303030,#b69b67, #303030);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			


			}
		}
	}

	&__scroll-down{
		padding-top: 155px;
		a{
			color: #454545;
			font-family: $font-family-main;
			text-transform: uppercase;
			font-size: 20px;
			position: relative;

			span{
				   position: absolute;
			  top: 20px;
			  left: 50%;
			  width: 24px;
			  height: 24px;
			  margin-left: -12px;
			  border-left: 2px solid #454545;
			  border-bottom: 2px solid #454545;
			  -webkit-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			  -webkit-animation: sdb04 2s infinite;
			  animation: sdb04 2s infinite;
			  box-sizing: border-box;

			}
		}
	}
}

.services{

		h1{
			font-size: 60px;
			color: #b4b4b4;
			text-transform: uppercase;
			text-align: center;
			font-family: $font-family-Playfair;
			margin-bottom: 60px;
		}

		&__content {
		    display: flex;
		    flex-direction: row;
		    position: relative;
		    padding: 20px;
		    
	     }

	     &__list{
	     	ul{
	     		width: 533px;
	     		
	     		li{
	     			list-style: none;
	     			margin-bottom: 75px;


	     			.webdis {
						    position: absolute;
						    top: 0;
						    right: 200px;
						    color: rgba(0,0,0,0.5);
						    border-radius: 10px;
						    min-width: 27.5em;
						    pointer-events: none;
						    box-sizing: border-box;
						    z-index: 999;
						    margin-left: -5em;
						    opacity: 0;
						    font-weight: initial;
						    transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.15s ease-out;

						    p{
						    	margin-bottom: 20px;
						    	color: #b4b4b4;
						    	font-size: 20px;
						    	font-family: $font-family-main;
						    	a,span{
						    		color: #b69b67;
						    		font-size: 20px;
						    		text-transform: initial;
						    		border: none;

						    	}
						    }
						}

						.photography-block{
							display: flex;
							flex-direction: column-reverse;
							
						}

     			&:hover .webdis{
				    opacity: 1;
				    margin-left: 0;
				}

			
				&:hover .webdis {
				    pointer-events: all;
				    clip-path: inset(0 0 0 0);
				}
				&:hover{
					border-bottom: 1px solid #454545;
				}


	     			a{
	     				color: #b4b4b4;
	     				font-size: 30px;
	     				font-family: $font-family-main;
	     				text-transform: uppercase;
	     			}
				&:hover a{
		     				color: #b69b67;
							text-align: center;
							border-top: 1px solid #b69b67;
							
							text-transform: uppercase;
							font-size: 60px;
							
		     			}
	     		}
	     	}
	     }



	     
}

 

